@model TaskViewModel
<header class="main-header">
    <div class="header-container">
        <div class="logo-container">
            <h1>Task Management App</h1>
        </div>
       <div class="nav-buttons">
    <form action="@Url.Action("Logout", "User")" method="post">
        <button type="submit">Log out</button>
    </form>
</div>

    </div>
</header>

<section class="task-creation">
    <h2>Create a New Task</h2>
    <form id="task-form" method="post">
        <div class="input-group">
            <label asp-for="Task.Title"></label>
            <input asp-for="Task.Title" type="text" id="task-name" required>
        </div>
        <div class="input-group">
            <label asp-for="Task.Description"></label>
            <textarea asp-for="Task.Description" id="task-desc"required></textarea>
        </div>
        <div class="input-group">
            <label asp-for="Task.Date"></label>
            @{
                string minDate = DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm");
            }

            <input asp-for="Task.Date" type="datetime-local" id="task-date" required min="@minDate">

        </div>
        <button type="submit">Add Task</button>
    </form>
</section>

<section class="task-lists">
    <div class="task-table">
        <h3>Active Tasks</h3>
        <table id="active-tasks">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model.Tasks)
                {
                    if (!obj.Status)
                    {
                        <tr>
                        <td>@obj.Title</td>
                        <td>@obj.Description</td>
                        <td>@obj.Date</td>
                            <td>
                                <form asp-action="TaskCompleted" method="post">
                                    <input asp-for="@obj.Id" type="hidden" /> 
                                    <input type="hidden" name="id" value="@obj.Id" />
                                    <input type="checkbox" asp-for="@obj.Status" onchange="this.form.submit();" />
                                </form>
                            </td>
                        
                    </tr>
                }
                }
                
            </tbody>
        </table>
    </div>

    <div class="task-table">
        <h3>Expired Tasks</h3>
        <table id="expired-tasks">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Tasks)
                {
                    if (obj.Status)
                    {
                        <tr>
                            <td>@obj.Title</td>
                            <td>@obj.Description</td>
                            <td>@obj.Date</td>
                            <td>
                                <input type="checkbox" disabled @(obj.Status ? "checked" : "") />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
<script>
    function setMinDateTimeLocal() {
        var field = document.getElementById('task-date');
        var now = new Date();
        // Adjusts the local time to ISO format cutting off seconds and milliseconds for `datetime-local`
        var localDateTime = new Date(now.getTime() - now.getTimezoneOffset() * 60000).toISOString().slice(0, 16);
        field.min = localDateTime;
    }
    setMinDateTimeLocal();

    // Updates the minimum date and time every minute for future date and time.
    setInterval(setMinDateTimeLocal, 60000);
</script>

